beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
cssselect2==0.2.1
gitdb==4.0.5
GitPython==3.1.11
defusedxml==0.5.0
html5lib==1.0.1
idna==2.8
Markdown==3.2.1
markdown-captions==2
mkdocs==1.2.1
mkdocs-material==6.1.6
mkdocs-minify-plugin==0.2.1
pdfrw==0.4
Pillow==8.2.0
ply==3.11
pycparser==2.18
pymdown-extensions==8.0
Pyphen==0.9.5
python-frontmatter==0.5.0
python-slugify==1.2.6
PyYAML==5.4
requests==2.24.0
six==1.11.0
tinycss2==1.0.0
transifex-client==0.14.2
Unidecode==1.0.23
WeasyPrint==52.2
webencodings==0.5.1
