
{% for nav_item in nav recursive %}
  {% if nav_item.active %}
  {% if (((nav_item.title|replace("alt__","")) != nav_item.title) and nav_item.parent.parent)  %}

      {% if nav_item.active  %}
        <div class="breadcrumb breadcrumb-select">
          <select onChange="window.document.location.href=this.options[this.selectedIndex].value+window.location.hash;">
              <option selected disabled hidden>{{ nav_item.title|replace("alt__","") }}</option>

        {% for sibling in nav_item.parent.children %}
          {% if not sibling.active  %}
          <!-- alternative selection -->
            {% set ns = namespace(ss=sibling) %}

            {% set nic = nav_item.children %}
            <!-- recursively compare the page nav_item with the alternative to find the alternative url -->
            <!-- Ideally the alternative nav should be exaclty the same with the exception of the current nav_item -->
            <!-- If we don't find a match, fall back to the first page under the alternative nav_item -->
            {% for nav_sub in nic recursive %}
              {% set inner_loop = loop %}
              {% if nav_sub.active %}
                {% for sib_sub in ns.ss.children if sib_sub.title == nav_sub.title %}
                    <!--  -->
                    {% if sib_sub.is_page %}
                      <!--  -->
                      <option value="{{ sib_sub.url|url }}"><p>{{ sibling.title|replace("alt__","") }}</option>
                    {% else %}
                      {% if not nav_sub.is_page %}
                        {% set ns.ss = sib_sub %}
                        {{ inner_loop(nav_sub.children) }}
                      {% endif %}
                    {% endif %}

                {% else %}

                  {% include "partials/fallback.html" %}


                {% endfor %}
              {% endif %}

            {% endfor %}


          {% endif %}
        {% endfor %}
        </select>
        </div>
      {% endif %}
    {% else %}
      {% if nav_item.parent and nav_item.children %}
      <div class="breadcrumb breadcrumb-path">{{ nav_item.title }}</div>
      {% endif%}
    {% endif %}
    {% if nav_item.children %}
      {{ loop(nav_item.children) }}
    {% endif %}
  {% endif %}
{% endfor %}
