

<div class="lang_select">
<select onChange="window.document.location.href=this.options[this.selectedIndex].value+window.location.hash;">
    {% for key, value in config.extra.dhis2_languages.items() %}
      {% if key == config.theme.language %}
        <option value="/{{ key }}/{{ page.url }}" title="{{ value }}"><p>{{ key | upper }}</option>
      {% endif %}
    {% endfor %}

    {% for key, value in config.extra.dhis2_languages.items() %}
      {% if key != config.theme.language %}
        <option value="/{{ key }}/{{ page.url }}" title="{{ value }}"><p>{{ key | upper }}</option>
      {% endif %}
    {% endfor %}
</select>
</div>
