/*  */
/* Variables and root */
/*  */

/* Load font from Open Source CDN, avoiding Google Fonts */
@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css');

:root {
  --grey900: #212934;
  --grey800: #404b5a;
  --grey700: #4a5768;
  --grey600: #6e7a8a;
  --grey500: #a0adba;
  --grey400: #d5dde5;
  --grey300: #e8edf2;
  --grey200: #f3f5f7;
  --grey100: #f8f9fa;
  --grey050: #fbfcfd;
  --green900: #103713;
  --green700: #2e7d32;
  --green100: #e8f5e9;
  --red900: #330202;
  --red700: #b71c1c;
  --red500: #d32f2f;
  --red100: #ffe5e8;
  --red050: #fff5f6;
  --blue900: #093371;
  --blue700: #1565c0;
  --blue500: #2196f3;
  --blue300: #90caf9;
  --blue200: #c5e3fc;
  --blue100: #e3f2fd;
  --blue050: #f5fbff;
  --teal050: #f1f9f9;
  --yellow050: #fff8e1;
  --yellow200: #ffe082;

  --text-base: #051841;
  --text-muted: #404b5a;

  --action-base: #012c6e;
  --action-hover: #0040a0;

  --fill-bg: #fff;
  --fill-bg-100: #f8f9fa;
  --fill-bg-200: #e8edf2;
  --fill-bg-300: #d5dde5;
  --fill-bg-900: #212934;

  --md-default-fg-color: #051841;
  --md-primary-fg-color: #012c6e;

  --md-primary-fg-color--dark: #90030c;
  --md-default-bg-color: #fff;
}
* {
  --md-typeset-color: var(--text-base);
  --md-typeset-a-color: var(--action-base);

  --md-typeset-kbd-color: #f8f9fa;
  --md-typeset-kbd-accent-color: orange;
  --md-typeset-kbd-border-color: #d5dde5;

  --md-code-fg-color: --text-muted;
  --md-code-bg-color: var(--fill-bg-100);
}

/*  */
/* Global rules */
/*  */

/* Remove scrollbar hovering */
.md-sidebar__scrollwrap:hover,
.md-search__scrollwrap:hover {
  scrollbar-color: unset;
}

/* Custom selects */
/* All credit to Select styling guidance here: https://www.filamentgroup.com/lab/select-css.html*/

select {
  padding: 0 1.5em 0 0;
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA4IDUiIHdpZHRoPSI4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0xMjEuNjQ2IDYuNjQ2LjcwOC43MDgtMy4zNTQgMy4zNTMtMy4zNTQtMy4zNTMuNzA4LS43MDggMi42NDYgMi42NDd6IiBmaWxsPSJpbmhlcml0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE1IC02KSIvPjwvc3ZnPg=='),
    linear-gradient(to bottom, transparent 0%, transparent 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  font-size: 0.62rem;
}
select::-ms-expand {
  display: none;
}
select:hover {
  cursor: pointer;
}
select:focus {
  box-shadow: 0 0 1px 3px var(--action-hover);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
select option {
  font-weight: normal;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*  */
/* Typography */
/*  */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.md-typeset {
  font-size: 0.67rem;
}

.md-typeset p {
  font-size: 0.67rem;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.md-typeset code {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-base) !important;
  font-weight: 500 !important;
}
.md-typeset a {
  text-decoration: underline;
}
.md-typeset a:hover {
  color: var(--action-hover);
}
.md-typeset a:active {
  color: var(--action-hover);
}

a.headerlink {
  color: var(--text-muted);
  text-decoration: none;
}
.md-typeset :target > .headerlink,
.md-typeset .headerlink:focus,
.md-typeset .headerlink:hover {
  color: var(--action-hover);
}
.md-typeset p a:visited {
  color: #4c2794;
}

/* prevent large preformatted text blocks from breaking layout */
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*  */
/* Layout */
/*  */

.md-grid,
.md-content {
  max-width: initial;
}

/* Not sure what this does? */
/* .md-tabs--active ~ .md-main .md-nav {
  scroll-snap-align: start;
} */

/* Stop sidebars from squashing */
.md-sidebar {
  flex-shrink: 0;
}

.md-main__inner {
  margin-top: 0;
  padding-top: 0;
}
.md-header[data-md-state='shadow'] {
  box-shadow: 0 2px 4px 0 rgba(3, 27, 78, 0.1);
}

/* Remove container padding and apply it to the inner content */
@media screen and (min-width: 1219px) {
  .md-sidebar {
    padding: 0 0;
  }
  .md-content__inner {
    padding-top: 0;
  }
  .md-content__inner::before {
    height: 0;
  }
}

/*  */
/* Header bar */
/*  */
.md-nav {
  font-size: 0.62rem;
}
/* Hack the tabs to be visible regardless of scroll position */
.md-tabs[data-md-state='hidden'] {
  pointer-events: all;
}
.md-tabs[data-md-state='hidden'] .md-tabs__link {
  transform: none;
  opacity: 1;
}
/* make the default tabs hidden */
.md-container .md-tabs {
  display: none;
}
/* Custom styles for the select in the navbar */
.md-header-nav select {
  color: var(--md-primary-bg-color);
  font-size: 0.7rem;
  padding: 0;
  margin-left: 0.6rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA4IDUiIHdpZHRoPSI4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0xMjEuNjQ2IDYuNjQ2LjcwOC43MDgtMy4zNTQgMy4zNTMtMy4zNTQtMy4zNTMuNzA4LS43MDggMi42NDYgMi42NDd6IiBmaWxsPSIjZmZmZmZmIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE1IC02KSIvPjwvc3ZnPg==');
}
/* style the select options to native on all platforms */
select option {
  color: var(--text-base);
}
.language-selector-wrap {
  align-self: center;
  display: flex;
  align-items: center;
}
.md-header-nav select.language-selector {
  margin-left: 0.2rem;
}

.md-nav__item--hidden {
  display: none;
}

/* Header styling */
.md-header-nav__title {
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0 1.5rem 0 0.5rem;
}

/*  */
/* Domain top bar */
/*  */

.md-announce__inner {
  margin: 0;
  padding: 0;
}
.md-announce {
  background: black;
}

.domain-nav-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

a.domain-nav-item {
  font-size: 12px;
  color: var(--grey050);
  padding: 4px 8px;
  text-decoration: none;
  margin-left: 8px;
  flex-shrink: 0;
}

a.domain-nav-item:hover {
  text-decoration: underline;
  color: var(--grey050);
}

a.domain-nav-item:after {
  padding-left: 4px;
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCA3IDciPgogIDxwYXRoIGZpbGw9IiNGQkZDRkQiIGQ9Ik03LDAgTDcsNCBMNiw0IEw1Ljk5OTQ0NjYxLDEuNzA3IEwxLjM1MzU1MzM5LDYuMzUzNTUzMzkgTDAuNjQ2NDQ2NjA5LDUuNjQ2NDQ2NjEgTDUuMjkyNDQ2NjEsMSBMMywxIEwzLDAgTDcsMCBaIi8+Cjwvc3ZnPgo=');
}

/*  */
/* Sidebar, primary */
/*  */

/* Desktop */
@media screen and (min-width: 1219px) {
  .md-sidebar--primary .md-sidebar__scrollwrap {
    background: var(--fill-bg-100);
    border-right: 1px solid var(--fill-bg-300);
    margin: 0 0;
    padding: 0.2rem 0 0 0;
  }
  .md-sidebar--primary .md-nav__link {
    padding: 0.375rem 0.25rem;
    margin: 0 0.25rem;
    border-radius: 3px;
  }
  /* remove paddings on nav sides */
  .md-tabs--active
    ~ .md-main
    .md-nav[data-md-level='1']
    > .md-nav__list
    > .md-nav__item {
    padding: 0 0;
  }
  /* adjust colors */
  .md-sidebar--primary .md-nav__link {
    color: var(--text-muted);
  }
  .md-sidebar--primary .md-nav__link:hover {
    background: #eaedf0;
  }
  .md-sidebar--primary a.md-nav__link:hover {
    color: var(--text-base);
  }
  .md-sidebar--primary label.md-nav__link {
    font-weight: 600;
  }
  .md-sidebar--primary .md-nav__link--active {
    background: #eaedf0;
    font-weight: 600;
    color: var(--text-base);
    border-radius: 0 3px 3px 0;
    border-left: 2px solid var(--text-muted);
  }
  .md-sidebar--primary .md-nav__title {
    display: none !important;
  }
  .md-nav__item--active > label.md-nav__link {
    color: var(--text-base);
  }
}

/* Mobile */
@media screen and (max-width: 1219px) {
  /* Small screen sidebar */
  .md-nav__source {
    display: none;
  }
  .md-nav__item {
    font-weight: 400;
    color: var(--text-base);
  }
  .md-nav__item--active {
    border-left: 4px solid var(--text-base);
    background-color: var(--fill-bg-100);
    color: var(--text-base);
    font-weight: 500;
  }
  .md-nav--primary .md-nav__title {
    color: var(--text-muted);
    background-color: var(--fill-bg-200);
  }
}

/*  */
/* Sidebar, secondary */
/*  */

.md-sidebar--secondary .md-sidebar__inner {
  border-left: 1px solid var(--fill-bg-300);
}

.md-sidebar--secondary .md-nav__link {
  position: relative;
  overflow: visible;
}

.md-sidebar--secondary .md-nav__link--active::before,
.md-sidebar--secondary .md-nav__link:active::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--grey600);
  position: absolute;
  top: 6px;
  left: -8px;
}

.md-sidebar--secondary .md-nav__link--active,
.md-sidebar--secondary .md-nav__link:active {
  background: var(--fill-bg-100);
  color: var(--text-base);
  font-weight: 500;
}

.md-sidebar--secondary .md-nav__link:focus,
.md-sidebar--secondary .md-nav__link:hover {
  color: var(--action-hover);
}

/* adjust the padding for link-to-headers to account for the new alternate bar */
.md-typeset h3[id]:target::before,
.md-typeset h2[id]:target::before,
.md-typeset h1[id]:target::before {
  margin-top: 0;
  padding-top: 100px;
}
.md-typeset h3[id]::before,
.md-typeset h2[id]::before,
.md-typeset h1[id]::before {
  margin-top: -4.5rem;
  padding-top: 4.5rem;
}

/*  */
/* Version/Alternate selection bar */
/*  */

.md-content-alternates {
  border-bottom: 1px solid var(--grey300);
  height: 40px;
  color: var(--grey600);
  font-size: 0.67rem;
  padding: 0.5em;
}

/* Hack padding to align the alternate selector and give the appearance of a top bar */
@media screen and (min-width: 959px) {
  .md-content-alternates {
    padding-left: 0.8rem;
    margin: 0 -1.2rem;
    height: 36px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    background-color: var(--fill-bg-100);
    border-bottom: 1px solid var(--fill-bg-300);
    /* stick when scrolling */
    position: sticky;
    position: -webkit-sticky;
    top: 2.4rem;
    z-index: 1;
  }
  .md-sidebar--secondary {
    padding-top: 0;
  }
  .md-sidebar--secondary .md-sidebar__scrollwrap {
    padding-top: 1.5rem;
  }
  .md-sidebar--secondary::before {
    width: 50vw;
    height: 36px;
    display: block;
    content: '';
    background-color: var(--fill-bg-100);
    border-bottom: 1px solid var(--fill-bg-300);
  }
}

/* Small screen specific styles */
@media screen and (max-width: 1219px) {
  /* alternates bar */
  .md-content__inner {
    padding-top: 0;
  }
  .md-content__inner::before {
    height: 0;
  }
  .md-content-alternates {
    padding-left: 0.8rem;
    margin: 0 -1.2rem;
    height: 36px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    background-color: var(--fill-bg-100);
    border-bottom: 1px solid var(--fill-bg-300);
    /* stick when scrolling */
    position: sticky;
    position: -webkit-sticky;
    top: 2.4rem;
    z-index: 1;
  }
}

/* Breadcrumb path, not currently in use */
.breadcrumb {
  float: left;
  margin-right: 0.3em;
  font: inherit;
  line-height: 1.5em;
  color: var(--grey700);
}
.breadcrumb-path {
  display: none;
}
.breadcrumb-path::before {
  content: '/ ';
}
.breadcrumb-select::before {
  _content: '/ ';
}

/*  */
/* Article content */
/*  */

/* Max content width for readability */
.md-content {
  max-width: 54rem;
  background: white;
}

.md-typeset img {
  margin: 0;
}

.md-typeset blockquote,
.md-typeset q {
  quotes: none;
}

.md-typeset blockquote:before,
.md-typeset q:before,
.md-typeset blockquote:after,
.md-typeset q:after {
  content: none;
}

.md-typeset blockquote {
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  border-left: 3px solid #aab8c6;
  margin-bottom: 10px;
  padding: 5px 5px 10px 40px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.md-typeset blockquote :last-child {
  margin-bottom: 0;
}

.md-typeset li blockquote {
  margin: 0.5em 0 1em;
}

.md-typeset blockquote p {
  margin: 5px;
}

.md-typeset td blockquote {
  margin: 0px;
  margin-top: 5px;
  padding: 5px;
  padding-top: 35px;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption {
  text-align: center;
  margin: 1em;
  font-style: italic;
}

.note {
  background-image: url(../images/admin/note.png);
}

.tip,
.truc,
.astuce {
  background-image: url(../images/admin/tip.png);
}

.important {
  background-image: url(../images/admin/important.png);
}

.caution,
.prudence {
  background-image: url(../images/admin/caution.png);
}

.warning,
.attention,
.danger {
  background-image: url(../images/admin/warning.png);
}

.work_in_progress {
  background-image: url(../images/admin/icon-wip.png);
}

.complete {
  background-image: url(../images/admin/icon-complete.png);
}

.incomplete {
  background-image: url(../images/admin/icon-incomplete.png);
}

.not_applicable {
  background-image: url(../images/admin/icon-na.png);
}

.example {
  background-image: url(../images/admin/example.png);
}

caption {
  color: var(--grey700);
  font-weight: 700;
  font-size: 0.7rem;
  font-style: normal;
  margin: 0 0.4rem;
  padding: 0.6rem 0;
}

.md-typeset blockquote {
  background-color: var(--blue050);
  border: 1px solid var(--blue200);
  border-radius: 3px;
  border-left: normal;
  margin-top: 32px;
  margin-bottom: 40px;
  padding: 6px 16px 12px 52px;
  background-position: 16px 12px;
  background-repeat: no-repeat;
  color: var(--grey900);
}

.md-typeset blockquote.caution,
.md-typeset blockquote.prudence,
.md-typeset blockquote.important {
  background-color: var(--yellow050);
  border: 1px solid var(--yellow200);
}

.md-typeset blockquote.warning,
.md-typeset blockquote.attention,
.md-typeset blockquote.danger {
  background-color: var(--red050);
  border: 2px solid var(--red500);
}

.md-typeset .codehilite {
  background-color: var(--grey100);
  border: 1px solid var(--grey200);
}

.md-typeset table:not([class]) th {
  background: var(--grey300);
  color: var(--grey900);
}

.md-typeset table:not([class]) {
  font-size: 0.67rem;
  box-shadow: none;
  border-radius: 0px;
  padding: 0 0;
}

.md-typeset table:not([class]) tr:hover {
  background-color: var(--grey100);
  box-shadow: inset 0 0.05rem 0 #fff;
}

.md-typeset__table {
  border: 1px solid var(--grey300);
  margin: 0 0.8em;
}

.md-typeset .md-typeset__table {
  padding: 0 0;
}

.md-clipboard::before {
  color: var(--grey600);
}

.md-typeset code {
  box-shadow: 0.29412em 0 0 var(--grey200), -0.29412em 0 0 var(--grey200);
  background-color: var(--grey200);
  color: var(--grey800);
  font-size: 85%;
  direction: ltr;
}

.codehilite pre span {
  white-space: normal;
}

.codehilite pre {
  white-space: pre-wrap;
}

/*  */
/* Search */
/*  */

.md-search__input,
.md-search__icon {
  background-color: transparent !important;
  padding-right: 0px;
  color: var(--grey100) !important;
}

.md-search-result__meta {
  color: var(--text-muted);
  background-color: var(--fill-bg);
  border-bottom: 1px solid var(--fill-bg-300);
}

.md-search-result__link:focus,
.md-search-result__link:hover {
  background-color: var(--fill-bg-100);
}

.md-search-result__link:focus .md-search-result__title,
.md-search-result__link:hover .md-search-result__title {
  text-decoration: underline;
}

.md-search-result__title {
  font-size: 0.75rem;
  color: var(--text-base);
}

.md-search-result__teaser {
  color: var(--text-muted);
}

.md-search-result__more summary ~ * > * {
  opacity: unset;
}

.md-search-result__link:not(:first-child) {
  padding: 6px 0;
}

.md-search-result__link:not(:first-child)
  article.md-search-result__article
  .md-search-result__title,
.md-search-result__link:not(:first-child)
  article.md-search-result__article
  .md-search-result__teaser {
  border-left: 2px solid var(--fill-bg-300);
  padding-left: 8px;
  margin: 0;
}

.md-search-result__more summary {
  color: var(--text-muted);
  background: var(--fill-bg);
}

.md-search-result__more summary:focus,
.md-search-result__more summary:hover {
  background-color: var(--fill-bg);
  color: var(--action-hover);
  text-decoration: underline;
}

.md-search-result mark {
  color: unset;
  background-color: #ffdf39;
  font-weight: 500;
}

.md-search-result__teaser mark {
  text-decoration: unset;
}

.md-search-result__more .md-search-result__link {
  margin-bottom: 12px;
}

.md-search-result__icon::after {
  background-color: var(--text-muted);
}

.md-search__overlay {
  background: rgba(33, 43, 54, 0.6);
}

article.md-search-result__article--document v-tag {
  display: inline-block;
}

v-tag {
  display: none;
}

v-tag {
  background-color: var(--fill-bg-200);
  color: var(--text-base);
  border-radius: 4px;
  padding: 4px 6px;
  position: relative;
  float: right;
  margin: 0;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: normal;
}

/* Search bar */

.md-search__input::placeholder {
  color: var(--fill-bg);
}

.md-search__input {
  font-size: 0.7rem;
}

/*  */
/* Footer */
/*  */

.footer-nav-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-nav-link {
  display: flex;
}

.footer-nav-link-next {
  margin-left: auto;
}

.footer-nav-link-previous svg {
  margin-right: 8px;
}
.footer-nav-link-next {
  text-align: right;
}
.footer-nav-link-next svg {
  margin-left: 8px;
}

.md-content__inner > :last-child {
  margin-bottom: 2rem;
}

/*  */
/* Misc. */
/*  */

/* change to the github icon to the official logo ¯\_(ツ)_/¯ */
.md-source__icon svg {
  display: none;
}
.md-source__icon {
  background-image: url(../images/admin/github.png);
  background-repeat: no-repeat;
  background-position: center;
}

.md-source-date {
  margin-top:-15px;
  margin-bottom:20px;
}

.index-padding {
  width:100%;
  height:65px;
}

/* Style the info cards */

d_card-container {
  margin:10px 20px 0;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  align-content:lex-start;
  min-width:0;
  width:auto;

}

.d_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  border:1px solid #eee;
  min-width:400px;
  flex:1 1 23vw;
  padding:20px 2vw;
  margin:0px 20px 20px 0px;
}

.d_card-title {
  font-size:larger;
  font-weight:bold;
}

.d_card th {
  _display:none;  
  background-color: white !important;
  font-weight: bold;
}


/*  */
/*  */
/*  */
