{% extends "main.html" %}

{% block config %}
  {{ super() }}

  <script>
    document.addEventListener("DOMContentLoaded", ()=>{
      // redirect anchors from previous docs site to new locations
      const redirect_map = {
        '#webapi_tei_grid_query_request_syntax': 'develop/using-the-api/dhis-core-version-master/tracker.html#webapi_tracked_entity_instance_management',
        '#sms-command-values': 'develop/using-the-api/dhis-core-version-master/sms.html#webapi_sms_commands',
        '#dataAdmin_scheduling_config': 'use/user-guides/dhis-core-version-master/maintaining-the-system/scheduling.html',
        '#create_legend': 'use/user-guides/dhis-core-version-master/configuring-the-system/metadata.html#about_legend',
      }

      if (window.location.hash in redirect_map) {
        window.location = redirect_map[window.location.hash]
      }
    });
  </script>
{% endblock %}

{% block site_nav %}
  {% if nav %}
    <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
      <div class="d-home md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if page.toc %}
    <div class="d-home-toc md-sidebar md-sidebar--secondary" data-md-component="toc">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/toc.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="index-padding"></div>
{{ super.super() }}
{% endblock %}
{% block footer %}{% endblock %}
